*.fna
*.contig
*.fasta

*.fna.gz
*.contig.gz
*.fasta.gz

*.bam
*.bai

*.gfa
*.gfa.gz

*.fq
*.fastq
*.fq.gz
*.fastq.gz

*~
*.zip
*.tar
*.tar.gz
*.tar.Z


*/datasets
*/ncbi_dataset
*workdir/files
*/checkm_out
*/*.jsonl
*.dmanifest

latest/

fastq-dump

gatk-4.6.2.0.zip
gatk-4.6.2.0

sratoolkit.3.2.1-ubuntu64
sratoolkit.3.2.1-ubuntu64.tar.gz

### Large files in the PhaME results
*workdir/results/gaps
*workdir/results/miscs
*workdir/results/snps
*workdir/results/stats
*workdir/results/tables
*workdir/results/alignments
*workdir/results/temp

### BLAST-related files
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
*.ndb

wget-log

*.amb
*.ann
*.bwt
*.pac
*.sa

*.sai
*.sam

