*.fna
*.contig
*.fasta

*.fna.gz
*.contig.gz
*.fasta.gz

*.gfa
*.gfa.gz

*.fq
*.fastq
*.fq.gz
*.fastq.gz

*~
*.zip
*/datasets
*/ncbi_dataset
*workdir/files
*/checkm_out
*/*.jsonl
*.dmanifest

latest/

### Large files in the PhaME results
*workdir/results/gaps
*workdir/results/miscs
*workdir/results/snps
*workdir/results/stats
*workdir/results/tables
*workdir/results/alignments
*workdir/results/temp

### BLAST-related files
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
*.ndb

wget-log

